// Fonts
@font-face {
     font-family: 'souven'; 
    src: url(../fonts/Souvenir.ttf);
}

@font-face {
    font-family: 'bold'; 
    src: url(../fonts/Ubuntu-Bold.ttf);
}
    

@font-face {
    font-family: 'bold-i'; 
    src: url(../fonts/Ubuntu-BoldItalic.ttf);
}
    
@font-face {
    font-family: 'light'; 
    src: url(../fonts/Ubuntu-Light.ttf);
}
    
@font-face {
    font-family: 'light-i'; 
    src: url(../fonts/Ubuntu-LI-hinting.ttf);
}
    
@font-face {
    font-family: 'regular'; 
    src: url(../fonts/Ubuntu-R-hinting.ttf);
}
   
@font-face {
     font-family: 'medium'; 
    src: url(../fonts/Ubuntu-M-hinting.ttf);
}

@font-face {
     font-family: 'uni'; 
    src: url(../fonts/UniNeue-Light.otf);
}


   