.blokimg {
	}
	.overlay{
	display: none;
	height: auto;
	left: -15%;
	position: absolute;
	top: -50%;
	width: auto;
	z-index: 999;
	}
	.overlay .overlay_container{
	display: table-cell;
	vertical-align: middle;
	}
	.overlay_container img{
	position: absolute;
	top: 0;
	left: 0;
	width: 30vw;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	}
	.overlay:target {
	display: table;
	}