// Шрифты
@import "fonts"
// Цвета
@import "colors"

// Базовые стили
html
	font-size: 10px
	font-family: 'regular'

body
	padding: 0
	margin: 0
	

.btn
	font-size: 2.2rem
	font-family: 'light'
	color: $white
	padding: 1rem 4rem
	background-image: url(../img/btn.png)
	background-size: 100% 100%
	border: none
	box-shadow: 2px 3px 4px 0px rgba(35, 31, 32, 0.65)
	text-shadow: 1px 2px 1px rgba(35, 31, 32, 0.4)
	cursor: pointer

.form
	padding: 2rem 3rem
	text-align: center
	background: url(../img/main-adv-form.png) center center no-repeat
	background-size: 100% 100%
	height: 26rem
	&-caption
		display: inline-block
		font-family: "light"
		text-align: center
		color: rgba(255, 255, 255, 0.9)
		font-size: 1.7rem
		padding-bottom: 1rem
		border-bottom: 1px solid #e9d75f
		margin-bottom: 2rem

	input
		width: 34rem
		height: 3.4rem
		color: $black
		font-size: 2rem
		font-family: 'regular'
		padding: 1.5rem
		margin-bottom: 1.4rem
		border-style: solid
		border-width: 1px
		border-color:  #e9d75f
		box-sizing: border-box
		background-color:  rgba(255, 255, 255, 0.8)
		box-shadow: 2px 3px 4px 0px rgba(35, 31, 32, 0.2)

		&::placeholder
			color: $black
			text-align: center
			font-size: 1.8rem
			font-family: 'regular'

	button
		margin-top: 1rem
.yellow-line
	background-color: $yellow
	height: 1px
	width: 100%
	margin-top: 3rem
.bg-1
	position: absolute
	top: 0
	right: 0

.bg-2
	position: absolute
	top: 280rem
	width: 100%
// Основные стили
.main
	position: relative
	z-index: 11
	padding-top: 2rem
	background: url(../img/main-doors.png) top no-repeat
	background-size: 130rem 90%
	padding-bottom: 3rem
	&-wrap
		position: relative
		background-color: #111111
	&-advantage
		color:  rgba(255, 255, 255, 0.9)
		font-size: 1.8rem
		margin-top: 18rem
		&-paragraph
			background:  url(../img/main-advantage-paragraph.png) center no-repeat
			background-size: 100% 100%
			padding: 0.5rem
			padding-bottom: 1rem
			font-family: 'light'
			font-size: 1.7rem
			height: 26rem
			ul
				list-style: none
				text-shadow: 2px 3px 3px rgba(35, 31, 32, 0.3)
				li
					position: relative
					padding-left: 3rem
					margin-bottom: 2rem

					&::before 
						position: absolute
						left: -2rem
						top: 50%
						transform: translateY(-50%)
						display: block
						content: ''
						width: 3rem
						height: 3rem
						background-image: url(../img/ok.png)
						background-position: center center
						background-repeat: no-repeat
						background-size: 100% 100%
						margin-right: 2rem
	&-caption
		font-family: 'souven'
		color: $white
		text-transform: uppercase
		font-size: 3rem
		font-weight: 400
		line-height: 1.842
		text-align: center
		text-shadow: 2px 3px 5px rgba(35, 31, 32, 0.8)
		padding: 1.1rem 3rem
		&-block
			margin: auto
			width: 90%
			margin-top: 13rem
			background-image: url(../img/main-caption-block.png)
			background-size: cover
	&-number
		display: inline-block
		font-size: 2.2rem
		font-family: 'light'
		margin-right: 2rem

.catalog
	margin: 0
	padding: 0
	background-color: #111111
	&-btn
		position: absolute
		bottom: 5%
		left: 12%
	&-item
		width: 100%
		position: relative
		text-align: center
		background:  url(../img/door-border.png) center center no-repeat
		background-size: 100% 100%
		padding: 3rem 4rem
		margin-top: 5rem
	.container
		position: relative
		background-color: rgba(255, 255, 255, 0.3)
		padding-top: 5rem
		padding-bottom: 2rem
	
	&-caption
		font-family: 'souven'
		font-weight: 400
		text-align: center
		font-size: 4rem
		color: $white
		text-transform: uppercase
		text-shadow: 2px 3px 5px rgba(35, 31, 32, 0.65)
		&-standartplus
			color: #e9d761
			text-align: center
			font-family: 'uni'
			font-size: 3.5rem
			font-weight: 400
			padding: 0
			margin: 0
			margin-top: 3rem
			&::before
				content: ''
				display: inline-block
				height: 1px
				width: 2rem
				background-color: #e9d761
				transform: translateY(-0.7rem)
				margin-right: 1rem	
			&::after
				content: ''
				display: inline-block
				height: 1px
				width: 2rem
				background-color: #e9d761
				transform: translateY(-0.7rem)
				margin-left: 1rem
		&-standart
			color: #e9d761
			text-align: center
			font-family: 'uni'
			font-size: 3.5rem
			font-weight: 400
			padding: 0
			margin: 0
			&::before
				content: ''
				display: inline-block
				height: 1px
				width: 2rem
				background-color: #e9d761
				transform: translateY(-0.7rem)
				margin-right: 1rem	
			&::after
				content: ''
				display: inline-block
				height: 1px
				width: 2rem
				background-color: #e9d761
				transform: translateY(-0.7rem)
				margin-left: 1rem

.get_catalog
	padding-top: 7rem
	padding-bottom: 10rem
	background-color: $black
	.container
		padding: 0
	&-book
		position: relative
		left: -14%
		z-index: 10
	&-form
		background: url(../img/get_catalog-form.png) center center no-repeat
		background-size: 100% 100%
		margin-top: 10rem
	&-inform
		background:  url(../img/get_catalog-inform.png) center no-repeat
		background-size: 100%
		color: $white
		font-size: 2.3rem
		text-align: center
		padding: 5rem 10rem
		font-family: 'light'
		font-weight: 300

.video
	position: relative
	&-caption
		margin: 0 0 4rem 0
		text-align: center
		font-family: 'souven'
		font-size: 4rem
		color: $black